<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="riakConfig" type="CorrugatedIron.Config.RiakClusterConfiguration, CorrugatedIron" />
  </configSections>
  <riakConfig nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <nodes>
      <node name="dev1" hostAddress="riak-test" restScheme="http" restPort="8098" poolSize="20" />
      <node name="dev2" hostAddress="riak-test" restScheme="http" restPort="8098" poolSize="20" />
      <node name="dev3" hostAddress="riak-test" restScheme="http" restPort="8098" poolSize="20" />
      <node name="dev4" hostAddress="riak-test" restScheme="http" restPort="8098" poolSize="20" />
    </nodes>
  </riakConfig>
</configuration>